@font-face {
  font-family: 'MontserratLight';
  src: url('fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

body, p, figure, ul, li {
  margin: 0;
  all: unset;
}

code {
  font-family: Montserrat, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 1400px;
  margin: auto;
}